@charset "UTF-8" ;

.footer {
  border-bottom: 15px double black;
  border-top: 15px double black;
  width: 100%;
}

.footer-title {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.footer-title h3 {
  font-size: calc(1.75em + 1vw);
  margin: 0px;
}

.footer-title span {
  font-size: calc(3em + 1vw);
  margin: 0px;
}

.footer-pages {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.footer-divsubpages {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.footer-subpages {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footer-subpages p {
  font-size: calc(1.25em + 1vw);
}

.footer-subpages img {
  width: calc(2em + 1vw);
}

@media screen and (min-width: 800px) {
  .footer-title {
    flex-flow: row nowrap;
  }
}
