@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet"');

/* general */
body {
  background-color: gray;
  color: white;
  font-family: 'Comic Neue', cursive;
  text-align: center;
}

/* header */
header {
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
}

/* section - style */
.style {
  border: 4px double black;
  font-size: 20pt;
  font-weight: 900;
  margin: auto;
  text-align: center;
  padding: 5px;
  width: 650px;
}

.color {
  border: 1px solid black;
  border-radius: 20%;
  display: inline-block;
  margin: auto;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
}

.min-max {
  font-size: 10pt;
}

input {
  border: none;
  font-size: 17pt;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15pt;
  margin: 20px 5px;
  padding: 15px;
}

.clear-button {
  background-color: crimson;
}

.generate-button {
  background-color: cornflowerblue;
}

/* section board */
.board {
  color:white;
  font-size: 15pt;
  margin: auto;
  text-align: center;
  padding: 15px 0px;
}

.pixel-board {
  background-color: white;
  border: 1px solid black;
  height: 210px;
  margin: auto;
  width: 210px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
}

/* footer */
footer {
  color: white;
  font-size: 20pt;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}
